---
layout: default
title: Home
pagination:
  enabled: true
---

<div class="home">
  <h1>Latest Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        
        {% if post.categories.size > 0 %}
        <div class="post-categories-preview">
          <small>
            Categories: 
            {% for category in post.categories %}
              <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </small>
        </div>
        {% endif %}
        
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
    {% endif %}
    
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% endif %}
  </div>
  {% endif %}
</div>